* { margin: 0;
   padding: 0; 
   box-sizing: border-box; 
  }

:root {
  --bar-height: 64px;
  --bar-bg: #0a192f
}

body {
    background-color: #0a192f; 
}

#intro h1{
    color: #ffffff;
    font-size: 5rem; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .avatar {
    width: 260px;
    aspect-ratio: 1 / 1;   
    border-radius: 50%;
    overflow: hidden;     
    height: 260px; 
    margin-top:35px;
    margin-left:2rem;
  }
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



.nav {
  display: flex;
  gap: 1.5rem;
  color: green;
  margin-top:25px;
  margin-right:65px;

  
}

.nav a{
  font-family: "Martian Mono", monospace;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color:white;
  text-decoration: none;
  
}

.nav a:hover{
  color: #64ffda;
}

.topbar {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 0.85rem;
  background: #0a192f;


}

.hero{
  display:flex;
  align-items:center;    
  justify-content: space-between;    
  gap:3rem;  
  width: 100%;
  padding-top:100px;
  max-width: 1200px;                
}

/* text column */
.hero-text{
  display:flex;
  flex-direction:column;
  align-items:flex-start;    
  min-width:300px;
  
}


.tagline{
  white-space: nowrap;
  font-size:1rem;         
  font-weight:50;
  letter-spacing:2px;
  color: #64ffda;
  font-family: "Martian Mono", monospace;
  margin: 0;
}

.typing{
  font-family: "Martian Mono", monospace;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #64ffda;
  width: 0;
  animation: typing 2s steps(20, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from{width: 0}
  to{width:20ch}
}

@keyframes blink{
  50% {border-color: transparent}
}


.name{
  font-size:4rem;          
  font-weight:600;
  line-height:1;
  color:#ffffff;
  margin:0;
  font-family: "Poppins", sans-serif;
  
}

.avatar-text{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  
  
}

.avatar-title{
  font-size: 3rem;
  font-weight: 500;
  color: #ccd6f6;
  font-family: "Poppins", sans-serif;
 margin: 0;
}

.avatar-row{
  display:flex;
  align-items: flex;
  gap:2rem;
  margin-left:18rem;
  margin-top:3rem;
}

.bio{
  font: size 0.9rem;
  font-weight:300;
  color: #a8b2d1;
  font-family: "Poppins", sans-serif;
  margin-top:1rem;
  max-width:400px;
  line-height:1.6;
}

#intro{
  display:flex;                 
  align-items:center;           
  justify-content:center;    
  padding-right:10%;   
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.icon-links {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.icon-link {
  font-size: 1.5rem;
  color: #64ffda;
  transition: color 0.3s;
  text-decoration: none;
}

.icon-link:hover {
  color: #ffffff;
}