* { margin: 0;
   padding: 0; 
   box-sizing: border-box; 
  }

:root {
  --bar-height: 64px;
  --bar-bg: #0a192f
}

body {
    background-color: #0a192f; 
}

#intro h1{
    color: #ffffff;
    font-size: 5rem; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .avatar {
    width: 300px;
    aspect-ratio: 1 / 1;   
    border-radius: 50%;
    overflow: hidden;     
    height: 300px; 
    margin-top:80px;
    margin-left:1000px;
  }
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



.nav {
  display: flex;
  gap: 1.5rem;
  color: green;
  margin-top:25px;
  margin-right:65px;

  
}

.nav a{
  font-family: "Martian Mono", monospace;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  color:white;
  text-decoration: none;
  
}

.nav a:hover{
  color: #64ffda;
}

.topbar {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  padding: 0.85rem;
  background: #0a192f;


}

.hero{
  display:flex;
  align-items:center;    
  justify-content: space-between;    
  gap:3rem;  
  width: 100%;
  padding-top:100px;
  max-width: 1200px;                
}

/* text column */
.hero-text{
  display:flex;
  flex-direction:column;
  align-items:flex-start;    
}


.tagline{
  font-size:1.25rem;         
  font-weight:400;
  text-transform:uppercase;
  letter-spacing:2px;
  margin-bottom:0.5rem;
  color:#f0f0f0;
}


.name{
  font-size:4rem;          
  font-weight:600;
  line-height:1;
  color:#ffffff;
  margin:0;
  
}

.avatar-text{
  display:flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  
}

.avatar-title{
  font-size: 3rem;
  font-weight: 500;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin-top: 0px;


}

#intro{
  display:flex;                 
  align-items:center;           
  justify-content:center;    
  padding-right:10%;   
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}